# Prerequisites
*.d

perf.data
build/
CMakeFiles/
cmake-build-debug/

CMakeCache.txt
CMakeUserPresets.json
Makefile
cmake_install.cmake 
compile_commands.json

.cache/
.idea/
.ccls-cache/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

build/
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
